{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash
mkdir -p $HOME/.local/bin

# Install Homebrew
# https://brew.sh/
if command -v brew; then
    brew update
else
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Install brew packages
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "ali"
brew "atuin"
brew "fd"
brew "k9s"
brew "neovim"
brew "thefuck"
brew "yaml-language-server"
brew "git-delta"
brew "fd"
brew "ripgrep"
brew "sops"
brew "tree-sitter"
brew "fluxcd/tap/flux"
EOF

# Snap
## classic
while read package; do
    sudo snap install --classic "$package"
done <<EOF
alacritty
go
EOF

# APT

sudo apt install -y $(cat <<EOF
i3
i3status
xautolock
bat
code
xclip
git
htop
imagemagick
pulseaudio-utils
rofi
volumeicon-alsa
blueman
playerctl
lxappearance
ipcalc
jq
scrot
tcpdump
ncdu
direnv
brightnessctl
arandr
autorandr
build-essential
shellcheck
fzf
fish
tmux
mosh
lastpass-cli
EOF
)

fish="/usr/bin/fish"
if [[ ! -f "$HOME/.config/fish/completions/fisher.fish" ]]; then
  $fish -c 'curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher'
fi

echo "Install/upgrade fisher plugins"
fisher_packages="jethrokuan/z IlanCosman/tide@v6 jethrokuan/fzf jhillyerd/plugin-git meaningful-ooo/sponge dracula/fish edc/bass"
for package in $fisher_packages; do
    if ! $fish -c "fisher list | grep -q -i $package"; then
      $fish -c "fisher install $package"
    else
      $fish -c "fisher update $package"
    fi
done

{{ end -}}
