{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash
mkdir -p $HOME/.local/bin

# Fedora (dnf) packages
if command -v dnf &> /dev/null; then
    echo "Installing Fedora packages with dnf..."
    sudo dnf install -y $(cat <<EOF
chromium
htop
pipewire-utils
pavucontrol
blueman
playerctl
lxappearance
ipcalc
tcpdump
ncdu
direnv
brightnessctl
shellcheck
fzf
git
firefox
fish
rofi
waybar
direnv
wob
mako
golang

EOF
)
fi

# Install Homebrew
# https://brew.sh/
if command -v brew; then
    brew update
else
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Install brew packages
brew bundle --file=/dev/stdin <<EOF
brew "ali"
brew "atuin"
brew "fd"
brew "k9s"
brew "neovim"
brew "yaml-language-server"
brew "git-delta"
brew "fd"
brew "sops"
brew "tree-sitter"
EOF

fish="/usr/bin/fish"
if [[ ! -f "$HOME/.config/fish/completions/fisher.fish" ]]; then
  $fish -c 'curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source'
  $fish -c 'fisher install jorgebucaran/fisher'
fi

echo "Install/upgrade fisher plugins"
fisher_packages="jethrokuan/z IlanCosman/tide@v6 jethrokuan/fzf jhillyerd/plugin-git"
for package in $fisher_packages; do
    if ! $fish -c "fisher list | grep -q -i $package"; then
        $fish -c "fisher install $package"
    else
    	$fish -c "fisher update $package"
    fi
done

{{ end -}}
