{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash
mkdir -p $HOME/.local/bin

# Fedora (dnf) packages
if command -v dnf &>/dev/null; then
  echo "Installing Fedora packages with dnf..."
  sudo dnf install -y $(
    cat <<EOF
chromium
pipewire-utils
langpacks-en
glibc-all-langpacks
gnome-keyring
seahorse
libsecret
jetbrains-mono-fonts-all
google-roboto-fonts
google-roboto-mono-fonts
pavucontrol
blueman
playerctl
lxappearance
ipcalc
tcpdump
ncdu
direnv
kanshi
network-manager-applet
libX11-devel
libXtst-devel
brightnessctl
sway
shellcheck
fzf
fd-find
git
neovim
autojump
autojump-fish
git-delta
firefox
fish
rofi
waybar
direnv
mako
wdisplays
grimshot
golang
yq
atuin
k9s
kind
kubectl
earlyoom
nodejs-bash-language-server
ShellCheck
shfmt
lxpolkit
cloud-utils
genisoimage
btop
keepassxc
snapper
@virtualization

EOF
  )
fi

# Go packages
if command -v go &>/dev/null; then
  if ! command -v clipse &>/dev/null; then
    go install github.com/savedra1/clipse@v1.2.1
  fi
  if ! command -v gup &>/dev/null; then
    go install github.com/nao1215/gup@latest
  fi
fi

# Fish shell
fish="/usr/bin/fish"

if [[ ! -f "$HOME/.config/fish/functions/fisher.fish" ]]; then
  mkdir -p "$HOME/.config/fish/functions/"
  curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish -o "$HOME/.config/fish/functions/fisher.fish"
fi

fisher_packages=("jethrokuan/z" "IlanCosman/tide@v6" "jethrokuan/fzf" "jhillyerd/plugin-git")

for package in "${fisher_packages[@]}"; do
  $fish -c "fisher install $package"
done

{{ end -}}
